/* EXERCÍCIO 1: fontes */
/* importá-las aqui... e definir as `font-family` da turminha... */
@import "fonts/ravie.css";
@import "fonts/verdana.css";

:root {
  --background-color: #fff;
  --strong-color: #d027aa;
  --background-color-image-1: #f6f1b2;
  --background-color-image-2: #4599b2;
  --background-color-cardapio: rgba(255, 255, 255, 0.2);
  --border-recipiente-color: #d3d3d3;
  --border-cardapio-color: #aac0ae;
  --text-color: #333;
  --cabecalho-color: #e90c0c;
}

/*...*/

#cardapio article {
  color: var(--cor-do-texto);
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Verdana', sans-serif;
}

strong {
  color: var(--strong-color);
}

#recipiente {
  background-image: linear-gradient(to bottom, var(--background-color-image-1),var(--background-color-image-2) 80%);
  border-left: 1px solid var(--border-recipiente-color);
  border-right: 1px solid var(--border-recipiente-color);
}

#cardapio {
  background-color: var(--background-color-cardapio);
  border-top: 1px solid var(--border-cardapio-color);
  border-bottom: 1px solid var(--border-cardapio-color);
  border-left: 1px solid var(--border-cardapio-color);
}

#cardapio h3 {
  font-size: 18px;
  color: var(--text-color);
  margin-top: 30px;
  font-family: "Verdana", "OpenSans", sans-serif;
}

#cardapio article {
  font-size: 14px;
  color: var(--text-color);
}


/* EXERCÍCIO 2: layout da página */
#recipiente {
  min-height: 100vh;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 154px 1fr;
  grid-template-areas: 
    "section header"
    "section main"
    "section footer";
}

#cabecalho-pagina {
  grid-area: header;
}

#lateral {
  grid-area: section;
}

#cardapio {
  padding: 0px 20px 20px;
  grid-area: main;
}

#rodape-pagina {
  grid-area: footer;
  padding: 46px 15px 25px;
  text-align: left;
}



/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: var(--cabecalho-color);
  font-weight: normal;
  text-align: center;
  font-family: "Ravie", sans-serif;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: var(--text-color);
  font-weight: normal;
  text-align: right;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: flex-end;
  padding-top: 46px;
  padding-right: 15px;
  padding-bottom: 25px;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  left: -89px;
  top: calc(50% - 42px);
  transition: left 100ms ease-out;
}

#ticket:hover {
  left: 0;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  top: 17px;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */
   @media (prefers-color-scheme: dark) {
    :root{
      --background-color: #000;
      --strong-color: #741660;
      --background-color-image-1: #021235;
      --background-color-image-2: #0e2a34;
      --background-color-cardapio: #134659;
      --border-recipiente-color: #808080;
      --border-cardapio-color: #809183;
      --text-color: #fff;
      --cabecalho-color: #e90c0c;
    }
  }
